@import 'tailwindcss';

@theme {
	/* Colors */
	--color-primary: #131415;
	--color-secondary: #ffffff;
	--color-accent: #f0460a;
	--color-accent2: #00eef6;
	--color-background: #131415;
	--color-alternative: #e3e4e5;
	/* Font */
	--font-title: 'Outfit', 'Arial', 'sans-serif';
	--font-sans: 'Inter', 'Arial', 'sans-serif';
}

/* General */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--color-accent) transparent;
}
html,
body {
	@apply cursor-default scroll-smooth;
}

p + ul,
ul + p,
p + p {
	@apply mt-4;
}
